* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    position:relative; 
  min-height: 100%;
}

.slider-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 250px;
    border: 1px solid #000;
    margin: 25vh auto;
    padding: auto;
    
}

.form{
    padding-top: 40%;
    padding-bottom: 40%;
    
}